[submodule "swfft-all-to-all"]
	path = swfft-all-to-all
	url = https://git.cels.anl.gov/hqureshi/swfft-all-to-all.git
[submodule "bdwgc"]
	path = bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "libatomic_ops"]
	path = bdwgc/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "HACC_GPM-Docs"]
	path = HACC_GPM-Docs
	url = https://github.com/humz2k/HACC_GPM-Docs.git
[submodule "pycosmotools"]
	path = pycosmotools
	url = https://git.cels.anl.gov/hqureshi/pycosmotools.git
[submodule "MPI-Comm-Memory"]
	path = MPI-Comm-Memory
	url = https://github.com/humz2k/MPI-Comm-Memory.git
