*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

.vscode

__pycache__/
*.py[cod]
*$py.class

cambTools/__pycache__

*/*.o
main

half_run.pk.ini
PK.ini2
testInit.ipynb
pk_plot.jpg

PK.ini.fold.0
PK.ini.fold.1
trash
runs
parallel_runs
haccgpm
haccgpmnopython

out.ipk

log.txt

docs/html
docs/latex
docs.tar

frames

*.jpg

*.btr

data.txt

build

testpk.pk.fold.0
testpk1.pk.fold.0